<!-- Footer -->
<footer class="bg-primary text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/anakingmsr/" target="_blank" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="mailto:mohamedhamdyahmed94@gmail.com" target="_blank" role="button"
        ><i class="fab fa-google"></i
      ></a>


      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/mohamed-hamdy-ahmed-mohamed-138693219/"  target="_blank"  role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/MohamedHamdy94"  target="_blank" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        ITI graduate specialized in Mearn full stack eager to take a challenging role 
        as Front End Web Developer in a highly technical company where my skills are professionally applied in 
        Front-End Web Development HTML 5, CSS 3, 
        JavaScript, ES6, Bootstrap 5, JQuery, SCSS, JSON, AJAX, Typescript,
         Angular and React and use these skills in providing quality service to the company.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://mohamedhamdy94.github.io/protfolio/">mohamedhamdy94.github.io/protfolio</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->