<header>
  <div class="navbar bg-primary shadow-sm">
    <div class="navbar-brand d-flex">
      <fa-icon routerLink="" class="ms-5 fs-3 text-white" [icon]="faStore">
      </fa-icon>
      <strong routerLink="" class="fs-3 text-white mx-3"> shoping</strong>
      <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">

      <fa-icon
        class="ms-5 fs-4 text-primary faMagnifyingGlass"
        [icon]="faMagnifyingGlass"
      >
      </fa-icon>
    </div>
    <div class="me-5 w-1 cart">
      <fa-icon
        routerLink="cart"
        class="me-5 fs-3 text-white"
        [icon]="faCartShopping"
      >
      </fa-icon>
      <span class="badge  badge-pill bg-danger">
        {{ totalItem }}
      </span>
    </div>
  </div>
</header>
