.navbar{
  width: 100vw;
}
.form-control{
border-radius: 5px;
width: 30vw;
min-width: 10vw;
}

.faMagnifyingGlass{
position: relative;
z-index: 10;
left: -5rem;

}
.badge{
position: relative;
left: -50px;
top: -10px;
}
